$color-hover: #f3f3f3;
$color-border: rgba(0, 0, 0, 0.125);

$margin-xs: 0.25rem;
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;

$font-size-xs: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.5rem;

$font-weight-bold: 700;
$font-weight-semi-bold: 500;
$font-weight-normal: 400;
