@import './variable';
@import './mixin';

/*  Loader  */
.loader {
  position: fixed;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  display: inline-block;
  width: 30px;
  height: 30px;
  z-index: 1;
}

/* Documents */
.documents {
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-search-container {
    flex: 0;
    padding: $margin-md;
    border-bottom: 1px solid $color-border;

    .document-topics {
      display: flex;
      justify-content: flex-end;

      .chip {
        display: flex;
        justify-content: center;
        align-items: center;

        .close {
          margin-left: $margin-xs;
          font-size: 1.25rem;
          color: white;
          text-shadow: none;
          opacity: 1;

          &:hover {
            background: none;
          }
        }
      }

      .chip + .chip {
        margin-left: $margin-xs;
      }

      @include respond-below(sm) {
        padding: $margin-xs 0;
      }
    }
  }

  &-content-container {
    flex: 1;
    overflow: hidden;

    .row {
      height: 100%;

      > div {
        height: 100%;
        overflow-y: scroll;
      }
    }

    .card-title {
      font-weight: $font-weight-semi-bold;
    }

    .card-subtitle {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-sm;
      line-height: 1.5rem;
    }

    .card-body {
      &.summary {
        font-size: $font-size-md;
        background-color: $color-hover;
      }
    }

    .document-card-container {
      .document-card {
        margin: $margin-md 0;
        cursor: pointer;

        &:hover {
          background-color: $color-hover;
        }

        .btn-topic {
          margin: $margin-xs;

          &:disabled {
            opacity: 0.8;
            cursor: not-allowed;
          }
        }
      }

      .empty-card {
        margin: $margin-md 0;

        .card-title {
          padding: $margin-lg 0;
          font-weight: $font-weight-normal;
          font-style: italic;
          text-align: center;
          opacity: 0.5;
        }
      }
    }

    .document-panel-container {
      padding: $margin-md $margin-md $margin-md 0;

      .document-panel1 {
        height: 100%;
        overflow-y: scroll;

        button.close {
          display: none;
        }

        &.pop-up {
          @include respond-below(sm) {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            button.close {
              display: block;
            }
          }
        }
      }
    }
  }
}
